dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
src/highlight.js
src/style.css
*.glob
*.vo
.coqdeps.d
*.mk.conf
CoqSrc.mk
*~
stack.yaml.lock
*.aux
*.depend
*.vok 
*.vos
#*#
.CoqSrc.mk.d
.depend
examples/issue4/issue4.v
examples/issue4/issue4_inf.v
.lia.cache
